:root {
  --primary-color: #09fced;
  --secondary-color: #510303;
  --size-unit: 64px;
  --animation-time: 200ms;
  --explosion-animation-time: 600ms;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  opacity: 1;
}

.information {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 32px;
  z-index: 2;
  position: relative;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__text {
  font-size: 42px;
  text-align: center;
}

.modal__button {
  padding: 30px 15px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 42px;
  margin-top: 20px;
  outline: none;
  transition: box-shadow 0.1s;
}

.modal__button:hover {
  box-shadow: 0px 0px 20px 5px var(--primary-color);
}

.spaceship {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url('../images/ship.png');
  animation: move-8-units-X var(--animation-time) steps(8) infinite;
  position: fixed;
  transform: scale(1.1);

}

.enemy {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url('../images/enemy.png');
  animation: move-5-units-X var(--animation-time) steps(5) infinite;
  z-index: 1;
  position: fixed;
}

.enemy--big {
  width: calc(var(--size-unit) *2);
  height: calc(var(--size-unit) *2);
  background-image: url('../images/enemy-big.png');
  animation: move-16-units-X var(--animation-time) steps(8) infinite;
  position: fixed;
}

.enemy--huge {
  width: calc(var(--size-unit) *2);
  height: calc(var(--size-unit) *2);
  background-image: url('../images/enemy-huge.png');
  animation: move-4-units-X var(--animation-time) steps(2) infinite;
  position: fixed;
  transform: scale(2);
}

.enemy--asteroid {
  width: var(--size-unit);
  height: var(--size-unit);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/aestroid_brown.png');
  animation: move-asteroid 2000ms steps(100) infinite;
  position: fixed;

}

@keyframes move-asteroid {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.explosion {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url('../images/explosion.png');
  animation: move-17-units-X var(--explosion-animation-time) steps(17) forwards;
  position: fixed;
}

.explosion--big {
  width: calc(var(--size-unit) *2);
  height: calc(var(--size-unit) *2);
  background-image: url('../images/explosion-big.png');
  animation: move-34-units-X var(--explosion-animation-time) steps(17) forwards;
  position: fixed;
}

.explosion--huge {
  width: calc(var(--size-unit) *2);
  height: calc(var(--size-unit) *2);
  background-image: url('../images/explosion-big.png');
  animation: move-34-units-X var(--explosion-animation-time) steps(17) forwards;
  position: fixed;
  transform: scale(5);
}

.missile {
  background-image: url('../images/missile.png');
  background-size: cover;
  width: 12px;
  height: 24px;
  position: absolute;
}

.missileAtom {
  width: calc(var(--size-unit) *2);
  height: calc(var(--size-unit) *2);
  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/atombomb.gif); */
  background-image: url('../images/css_sprites.png');
  animation: move-34-units-X var(--animation-time) steps(17) infinite;
  position: fixed;

  transform: scale(0.8);
}

.enemy-missile {
  background-image: url('../images/bullet.png');
  background-size: cover;
  width: 12px;
  height: 24px;
  position: absolute;
}

@keyframes move-4-units-X {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--size-unit) * -4);
  }
}

@keyframes move-34-units-X {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--size-unit) * -34);
  }
}


@keyframes move-17-units-X {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--size-unit) * -17);
  }
}

@keyframes move-16-units-X {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--size-unit) * -16);
  }
}


@keyframes move-8-units-X {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--size-unit) * -8);
  }
}

@keyframes move-5-units-X {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: calc(var(--size-unit) * -5);
  }
}

.hide {
  display: none;
}

.hit {
  background-color: var(--secondary-color);
}

.shoot {
  display: none;
  height: 45px;
  width: 45px;
  font-size: 25px;
  position: fixed;
  bottom: 5vh;
  right: 8vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.atomBomb {
  /* display: none; */
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: fixed;
  bottom: 16vh;
  right: 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transform: rotate(-90deg);
}

.leftMove {
  display: none;
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: fixed;
  bottom: 8vh;
  left: 1vw;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transform: rotate(180deg);

}

.rightMove {
  display: none;
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: fixed;
  bottom: 8vh;
  left: 17vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;

}

.upMove {
  display: none;
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: fixed;
  bottom: 15vh;
  left: 9vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transform: rotate(-90deg);

}

.downMove {
  display: none;
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: fixed;
  bottom: 1vh;
  left: 9vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  transform: rotate(90deg);

}



@media(orientation:portrait) {

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: #000; */
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .shoot {
    display: block;
  }

  .atomBomb {
    display: block;
  }

  .leftMove {
    display: block;
  }

  .rightMove {
    display: block;
  }

  .upMove {
    display: block;
  }

  .downMove {
    display: block;
  }


}

@media(orientation:landscape) and (max-width: 1023px) {
  .shoot {
    display: block;
  }

  .leftMove {
    display: block;
    bottom: 10vh;
  }

  .rightMove {
    display: block;
    left: 13vw;
    bottom: 10vh;
  }

  .upMove {
    display: block;
    left: 7vw;
    bottom: 19vh;
  }

  .downMove {
    display: block;
    left: 7vw;
  }
}
